<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Listing Users</h1>
 <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  <div class="row" style="margin-bottom: 12px">
    <div class="col-4"><%= link_to 'New User', new_user_path, class: "btn btn-primary" %></div>
    <div class="col">
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Create at</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= l user.created_at, format: :time %></td>
        <td><%= link_to user_path user do %>
            <i class="fa fa-eye"></i> Show
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>

  </table>
  <%= link_to export_users_path(format: :pdf)do %>
    <i class="fa fa-paperclip" aria-hidden="true"></i> PDF Attachment
  <% end %><br>
  <%= link_to download_users_path(format: :pdf) do %>
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download as PDF
  <% end %><br>
  <%= link_to export_users_path(format: :xlsx)do %>
    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Download as Excel
  <% end %>
</div>
